@model List<streamingParadigmas.Clases.Juego>
@using System.Linq

@if (TempData["Mensaje"] != null)
{
    <div id="mensaje-alerta" class="juego-jugado">
        @TempData["Mensaje"]
    </div>

    <script>
        setTimeout(() => {
            const alerta = document.getElementById('mensaje-alerta');
            if (alerta) {
                alerta.style.display = 'none';
            }
        }, 2600);
    </script>
}
@if (TempData["CategoriaMensaje"] != null)
{
    <div class="alerta-categoria" id="categoriaMsg">
        @TempData["CategoriaMensaje"]
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('categoriaMsg').style.display = 'none';
        }, 4000); // desaparece en 4 segundos
    </script>
}
@if (TempData["RecordMensaje"] != null)
{
    <div class="alerta-Record" id="categoriaMsg">
        @TempData["RecordMensaje"]
    </div>

    <script>
        setTimeout(function () {
            document.getElementById('categoriaMsg').style.display = 'none';
        }, 4000); // desaparece en 4 segundos
    </script>
}

@{
    ViewData["Title"] = "Películas Populares";
}
@{
    int totalPeliculas = Model.Count;
    int chunkSize = (int)Math.Ceiling(totalPeliculas / 4.0);
    List<List<streamingParadigmas.Clases.Juego>> carruseles = new List<List<streamingParadigmas.Clases.Juego>>();

    for (int i = 0; i < totalPeliculas; i += chunkSize)
    {
        carruseles.Add(Model.Skip(i).Take(chunkSize).ToList());
    }
}
<style>

    .juego-jugado{
        position:fixed;
        width:auto;
        height:60px;
        padding:8px 20px;
        background:green;
        color:white;
        z-index:100;
        border-radius:15px;
        bottom:10px;
        right:10px

    }

    .alerta-Record {
        position: fixed;
        width: auto;
        height: 60px;
        padding: 8px 20px;
        background: gold;
        color: black;
        z-index: 100;
        border-radius: 15px;
        bottom: 100px;
        right: 10px
    }

    .alerta-categoria{
        position: fixed;
        width: auto;
        height: 60px;
        padding: 8px 20px;
        background: blue;
        color: white;
        z-index: 100;
        border-radius: 15px;
        bottom: 10px;
        left : 10px
    }

    .carousel-container {
        width: 90%;
        position:relative;
        margin: 0 auto;
        overflow-x: auto;
        display: flex;
        gap: 1.5rem;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
        padding: 1rem 1rem;
        scrollbar-width: none;
        background: linear-gradient(to right,rgba(174, 45, 104, 0.0),rgba(109, 247, 150, 0.3) , rgba(93, 184, 160, 0.3) , rgba(69, 86, 214, 0.5),rgba(174, 45, 104, 0.0));
       
    }
   

        .carousel-container::-webkit-scrollbar {
            display: none;
        }

    .movie-item {
        flex: 0 0 auto;
        width: 210px;
        scroll-snap-align: start;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.1), inset 0 0 10px rgba(255, 255, 255, 0.1);
        transition: transform 0.3s ease;
        
    }



        .movie-item:hover {
            transform: scale(1.05);
        }

    .movie-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }

    .movie-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(109, 247, 150, 0.6), rgba(40, 6, 89, 0.7),rgba(0,0,0,0.7));
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        padding: 1rem;
        text-align: center;
    }

    .movie-item:hover .movie-overlay {
        opacity: 1;
    }

    .movie-title {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .movie-rating,
    .movie-duration {
        font-size: 0.9rem;
        margin-top: 5px;
    }

    h2 {
        text-align: center;
        margin-top: 2rem;
        font-size:3rem;
        font-family:Impact;
        color:lightgreen;
    }

    

    .mas-boton {
        width: 90px;
        height: 30px;
        background: linear-gradient(to right, rgba(174, 45, 104, 1), rgba(40, 6, 89, 1));
        border-radius: 15px;
        padding: 6px;
        transition: ease-in-out 0.4s all;
    }

        .mas-boton:hover {
            transform: scale(0.85);
        }

    .movie-link {
        text-decoration: none;
        margin-top: 40px;
    }
</style>

<h2 class="title">CATALOGO JUEGOS</h2>

@for (int i = 0; i < carruseles.Count; i++)
{
    <div class="carousel-container">
        
        <h3>Carrusel @i</h3>
        @foreach (var juego in carruseles[i])
        {
            <a asp-controller="Juegos" asp-action="Descripcion" asp-route-nombre="@juego.Nombre" class="movie-link">
            <div class="movie-item">
                <img src="@juego.Imagen" alt="@juego.Nombre" class="movie-img" />
                <div class="movie-overlay">
                    <div class="movie-title">@juego.Nombre</div>
                    <div class="movie-rating">⭐ @juego.Calificacion</div>
                    <div class="movie-duration">Genero: @juego.Genero</div>
                    
                </div>
            </div>
            </a>
        }
    </div>
}
